# Ignore Python virtual environments
venv-ggshield/
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore screenshots if not needed
*.png
!images/pre-commit-success.png

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore environment variables file
.env

venv/
venv-ggshield/
*.whl
*.pyd
.git/





