name: GitGuardian Secret Scan

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  ggshield-scan:
    name: GitGuardian Secret Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run GitGuardian Scan
        uses: GitGuardian/ggshield-action@v1
        with:
          api-key: ${{ secrets.GG_API_KEY }}
          scan-directory: .

      - name: Upload scan report (always)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ggshield-report
          path: ggshield-report.json
          if-no-files-found: ignore



